<div class="card h-100" *ngIf="organization">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title" id="organizationInformation" i18n="Organization Preview|Dashboard Organization Preview Title@@dashboard.org.organizationPreviewTitle">Information</h5>
    <hr>

    <div class="row">
      <div class="col-xs-3 col-md-2">
        <h6 i18n="Organization Preview|Dashboard Organization Preview Url@@dashboard.org.organizationPreviewUrl">Organization URL:</h6>
      </div>
      <div class="col-xs-15 col-md-10" id="organizationUrl">
        <a href="{{ organization.url }}">{{ organization.url }}</a>
      </div>
    </div>

    <ng-container *ngIf="memberships && memberships.length > 0; else noMemberships">
      <div class="row">
        <div class="col-xs-3 col-md-2">
          <h6 i18n="Organization Preview|Dashboard Organization Preview Memberships@@dashboard.org.organizationPreviewMemberships">Memberships Count:</h6>
        </div>
        <div class="col-xs-15 col-md-10" id="organizationMemberships">{{ memberships.length }}</div>
      </div>
    </ng-container>
    
  </div>
</div>

<ng-template #noMemberships>
  <div class="row">
    <div class="col-xs-3 col-md-2">
      <h6 i18n="Organization Preview|Dashboard Organization Preview Memberships@@dashboard.org.organizationPreviewMemberships">Member Count:</h6>
    </div>
    <div class="col-xs-15 col-md-10">No Memberships</div>
  </div>
</ng-template>
