<p-table [value]="tasks">
  <ng-template pTemplate="header">
    <tr>
      <th><span i18n="Name|Task name@@task.taskTable.title">Title</span></th>
      <th><span i18n="Task count|Task count@@task.taskTable.taskCount">Task count</span></th>
      <th><!-- deliberatly empty --></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>
        {{ task.title }}
      </td>
      <td>
        {{ task.description }}
      </td>
      <td class="text-end">
        <button class="btn btn-link" (click)="onEditTask(task)" id="edit-{{ task.id }}">
          <fa-icon [icon]="['fas', 'edit']" class="me-2"></fa-icon>
        </button>
        <button class="ms-1 btn btn-link" (click)="onDeleteTask(task)" id="delete-{{ task.id }}">
          <fa-icon [icon]="['fas', 'trash']" class="me-2"></fa-icon>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
