<div class="container" *ngIf="questionnaireLoaded$ | async">
  <div class="row">
    <div class="col mb-4">
      <button
        type="button"
        id="course-button"
        (click)="openCourse()"
        class="btn btn-light"
      >
        <fa-icon [icon]="['fas', 'angle-left']" class="me-2"></fa-icon>
        <span
          i18n="Course|Course Button Title@@questionnaire-detail.buttons.course"
          >Course</span
        >
      </button>
    </div>
  </div>

  <ngb-accordion #a="ngbAccordion" activeIds="recPanel">
    <ngb-panel id="recPanel">
      <ng-template ngbPanelHeader let-opened="opened">
        <div
          class="d-flex align-items-center justify-content-between card-header"
        >
          <h2 id="name">{{ questionnaire!.title }}</h2>
          <div>
            <button
              class="btn btn-link"
              (click)="editQuestionnaire()"
              id="editQuestionnaire"
              i18n-ngbTooltip="
                Questionnaire edit tooltip|Tooltip
                text@@questionnaireDetail.tooltip.editQuestionnaire"
              ngbTooltip="Edit questionnaire (title, description...)"
            >
              <fa-icon [icon]="['far', 'edit']" size="lg"></fa-icon>
            </button>

            <button
              class="btn btn-link"
              id="deleteQuestionnaire"
              (confirm)="deleteQuestionnaire()"
              i18n-ngbTooltip="
                Questionnaire delete tooltip|Tooltip
                text@@questionnaireDetail.tooltip.deleteQuestionnaire"
              ngbTooltip="Delete questionnaire"
              i18n-confirmDescription="
                Questionnaire delete tooltip|Tooltip
                text@@questionnaireDetail.tooltip.deleteQuestionnaire"
              i18n-confirmTitle="
                Questionnaire delete confirm title|Confirm modal
                text@@questionnaireDetail.modal.deleteTitle"
              confirmDescription="Are you sure you want to delete this questionnaire? This will also delete all associated assets and units"
              confirmTitle="Delete Questionnaire?"
            >
              <fa-icon
                [icon]="['far', 'trash-alt']"
                class="me-2 text-danger"
                size="lg"
              ></fa-icon>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-question-list
          [questions]="questions"
          [answerOptions]="answerOptions"
          id="question-list"
          (addQuestion)="addQuestion()"
          (editQuestion)="editQuestion($event)"
          (deleteQuestion)="deleteQuestion($event)"
          (addAnswerOption)="addAnswerOption($event)"
          (editAnswerOption)="editAnswerOption($event)"
          (deleteAnswerOption)="deleteAnswerOption($event)"
        >
        </app-question-list>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
