{% extends "layout.html" %}

{% block content %}

<div id="menubar">
    <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li class="selected"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('show_courses') }}">Courses</a></li>
        <li><a href="{{ url_for('show_chapters') }}">Chapters</a></li>
        <li><a href="{{ url_for('show_tasks') }}">Tasks</a></li>
        <li><a href="{{ url_for('show_quizs') }}">Quizs</a></li>
        <li><a href="{{ url_for('show_topics') }}">Topics</a></li>
    </ul>
</div>

<div id="site_content">

    <div class="form__title">Add Intent</div>
    <br><br>
    <p class="form__desc">
        Use this formular to create new intents and responses
    </p>

    <br>
    <form id = "intent_form" name = "intent_form" onsubmit="return validateForm()"  class="form" action="" method="POST">
        <div class="form__item">
            <label for="intent_name" class="form__label">Intent Name </label>
            <input type="text" class="form__input" id="intent_name" name="intent_name"
                   placeholder="Enter a label for your intent quizple whoareyou" required>
            <span class="form__error">A sample error message</span>
        </div>
        <div id = "input_field" class="form__item">
            <label class="form__label">Intent List </label>
<!--            <textarea maxlength="500" class="form__input " id="intent_list" name="intent_list[]"-->
<!--                      placeholder="Enter intents, begin new intent with - quizple - who are you? \n - are you a bot?"-->
<!--            ></textarea>-->
            <div class="field">
                <input type="text" name="intent_list[]" class="intents" placeholder="Enter at least two intents. Click the + button on the right to add intent">
                <span onclick="addField(this)">+</span>
                <span onclick="removeField(this)">-</span>
            </div>
        </div>
        <span class="form__error">A sample error message</span>
        <div class="form__item">
            <label for="iresponse" class="form__label">Response</label>
            <input type="text" class="form__input" id="iresponse" name="response"
                   placeholder="Enter a response for your intents" required>
            <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
            <button class="form__btn" type="submit" >Register intent</button>
        </div>
        <small id="error_submit" style="color: red; font-size: 18px"></small>
    </form>
</div>
<script type="text/javascript" src="{{url_for('static', filename='scripts/validation.js')}}"></script>
{% endblock %}
