{% extends "layout.html" %}

{% block content %}

<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('show_courses') }}">Courses</a></li>
          <li><a href="{{ url_for('show_chapters') }}">Chapters</a></li>
          <li><a href="{{ url_for('show_tasks') }}">Tasks</a></li>
          <li class="selected"><a href="{{ url_for('show_quizs') }}">Quizs</a></li>
        </ul>
      </div>

  <div id="site_content">

    <div class="form__title">Add quiz</div>
    <br/><br/>
    <p class="form__desc">
        Use this formular to create new quiz
    </p>
    
    <br/>
    <form class="form" action="" method="POST">
        <div class="form__item">
          <label for="question_text" class="form__label">Quiz Name: </label>
          <input type="text" class="form__input"  id="quiz_name" name="quiz_name" placeholder="Enter a quiz name" require>
          <span class="form__error">A sample error message</span>
        </div>
	<div class="form__item">
          <button class="form__btn" type="submit">Add quiz</button>
        </div>    
    </form>
   </div>
{% endblock %}