{% extends "layout.html" %}

{% block content %}

<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li class="selected"><a href="{{ url_for('show_courses') }}">Courses</a></li>
          <li><a href="{{ url_for('show_chapters') }}">Chapters</a></li>
          <li><a href="{{ url_for('show_tasks') }}">Tasks</a></li>
          <li><a href="{{ url_for('show_quizs') }}">Quizs</a></li>
        </ul>
      </div>

  <div id="site_content">
    <div class="form__title">Add Course</div>
    <br><br>
    <p class="form__desc">
        Use this formular to fill out inforamtions
    </p>
    
    <br>
    <form class="form" action="" method="POST">
        <div class="form__item">
          <label for="atitel" class="form__label">Name</label>
          <input type="text" class="form__input"  id="atitel" name="name" placeholder="Enter the titel of the assigment" required>
          <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
          <label for="adescription" class="form__label">Teacher</label>
          <input type="text" class="form__input"  id="atitel" name="teacher" placeholder="Enter the titel of the assigment" required>
        </div>
        <div class="form__item">
          <label for="amaterials" class="form__label">Modules</label>
          <textarea maxlength="500" class="form__input" id="amaterials" name="modules" placeholder="Modules"></textarea>
        </div>
        <div class="form__item">
          <label for="aressources" class="form__label">Materials</label>
          <textarea maxlength="500" class="form__input" id="aressources" name="materials" placeholder="Materials"></textarea>
        </div>
        <div class="form__item">
          <label for="aressources" class="form__label">Description</label>
          <textarea maxlength="500" class="form__input" id="aressources" name="description" placeholder="Materials"></textarea>
        </div>
        
        <div class="form__item">
          <label for="aressources" class="form__label">External Resources</label>
          <textarea maxlength="500" class="form__input" id="aressources" name="externressources" placeholder="External Resources"></textarea>
        </div>

        <div class="form__item">
          <button class="form__btn" type="submit">Save</button>
        </div>
      </div>
        
      </form>
  </div>

{% endblock %}
