{% extends "layout.html" %}

{% block content %}

<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{{ url_for('index') }}">Home</a></li>         
          <li><a href="{{ url_for('show_courses') }}">Courses</a></li>
          <li><a href="{{ url_for('show_chapters') }}">Chapters</a></li>
          <li><a href="{{ url_for('show_tasks') }}">Tasks</a></li>
          <li><a href="{{ url_for('show_quizs') }}">Quizs</a></li>
        </ul>
      </div>

  <div id="site_content">
    <div class="form__title">Edit intents</div>
    <br><br>
    <p class="form__desc">
        Use this formular to update data about the intents
    </p>
    
    <br>
    <form class="form" action="" method="POST">
        <input type="hidden" value="{{ intent['id_intent'] }}" name="id_intent" >

	<div class="form__item">
          <label for="iintent" class="form__label">Intent Name </label>
          <input type="text" class="form__input"  id="iintent" name="intent_name" value="{{ intent['intent_name'] }}" placeholder="Enter a label for your intent quizple whoareyou" require>
          <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
          <label for="iintent" class="form__label">Intent List </label>
	<p> (Please keep the dash and space sign "- " while editing intent)</p>
          <textarea maxlength="500" class="form__input" id="iintent" name="intent_list" placeholder="Enter intents, begin new intent with - quizple - who are you? \n - are you a bot?" require>{{ intent['intent_list'] }}</textarea>
          <span class="form__error">A sample error message</span>
        </div>
	<div class="form__item">
          <label for="iintent" class="form__label">Response</label>
          <input type="text" class="form__input"  id="iresponse" name="response" placeholder="Enter a response for your intents" require value="{{ intent['response'] }}" >
          <span class="form__error">A sample error message</span>
        </div>
	 <div class="form__item">
          <button class="form__btn" type="submit">Update intent</button>
        </div>
        
      </form>
</div>

{% endblock %}
