{% extends "layout.html" %}

{% block content %}

<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{ url_for('index') }}">Home</a></li>         
          <li><a href="{{ url_for('show_course') }}">Course</a></li>
          <li><a href="{{ url_for('show_chapters') }}">Chapters</a></li>
          <li class="selected"><a href="{{ url_for('show_tasks') }}">Tasks</a></li>
          <li><a href="{{ url_for('show_quizs') }}">Quizs</a></li>
          <li><a href="{{ url_for('show_topics') }}">Topics</a></li>
        </ul>
      </div>

  <div id="site_content">
    <div class="form__title">Edit tasks</div>
    <br><br>
    <p class="form__desc">
        Use this formular to update data about the tasks
    </p>
    
    <br>
    <form class="form" action="" method="POST">
        <input type="hidden" value="{{ task['id_task'] }}" name="id_task" >
        <div class="form__item">
          <label for="ttitle" class="form__label">Title</label>
          <input type="text" class="form__input"  id="ttitle" value="{{ task['title'] }}" name="title" placeholder="Enter the title of the task" require>
          <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
          <label for="tdescription" class="form__label">Description</label>
          <textarea maxlength="500" class="form__input" id="tdescription" name="description" placeholder="what is the task and what are the objectives?">{{ task['description'] }}</textarea>
          <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
          <label for="tressources" class="form__label">Ressources</label>
          <textarea maxlength="500" class="form__input" id="tressources" name="ressources" placeholder="List the extern ressources that the student can use to accomplish the task">{{ task['ressources'] }}</textarea>
          <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
          <label for="tdeadline" class="form__label">Deadline</label>
          <input type="date" class="form__input form__input--small" id="tdeadline" value="{{ task['deadline'] }}" name="deadline"  placeholder="Enter a deadline for the task" require>
          <span class="form__error">A sample error message</span>
        </div>
	<div class="form__item">
          <label for="tactive" class="form__label">Active</label>
	  <input type="checkbox" 
              id="tactive" 
              name="active" 
              placeholder="Is the task active?" 
{% if task['active'] %}
              checked='checked'
{% endif %}>
          </input>
          <span class="form__error">A sample error message</span>
        </div>
        <div class="form__item">
          <button class="form__btn" type="submit">Update task</button>
        </div>
      </div>
        
      </form>
</div>

{% endblock %}
