{% extends "layout.html" %}

{% block content %}

<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('show_courses') }}">Courses</a></li>
          <li><a href="{{ url_for('show_chapters') }}">Chapters</a></li>
          <li><a href="{{ url_for('show_tasks') }}">Tasks</a></li>
          <li class="selected"><a href="{{ url_for('show_quizs') }}">Quizs</a></li>
          <li><a href="{{ url_for('show_topics') }}">Topics</a></li>
        </ul>
      </div>

<div id="site_content">
    <div class="form__title">Result of Quiz</div>
    <br/>    
    <div class="form__question_title">Total number of questions: {{ questions_count }}</div>
    <div class="form__question_title">Number of correct answers: {{ correct_count }}</div>

</div>


{% endblock %}