<div class="row mt-4">
  <div class="col">
    <div
      class="card"
      *ngFor="let question of questions"
      id="questions-{{ question.id }}"
    >
      <div class="card-body">
        {{ question.title }}

        <div class="float-end">
          <button
            class="btn btn-link"
            (click)="editQuestionProxy(question.id)"
            id="editQuestion"
            i18n-ngbTooltip="
              Question edit tooltip|Tooltip
              text@@questionDetail.tooltip.editQuestion"
            ngbTooltip="Edit question (title, description...)"
          >
            <fa-icon [icon]="['far', 'edit']" size="lg"></fa-icon>
          </button>

          <button
            class="btn btn-link"
            id="btn-deleteQuestion"
            (confirm)="deleteQuestionProxy(question.id)"
            i18n-ngbTooltip="
              Question delete tooltip|Tooltip
              text@@questionDetail.tooltip.deleteQuestion"
            ngbTooltip="Delete question"
            i18n-confirmDescription="
              Question delete tooltip|Tooltip
              text@@questionDetail.tooltip.deleteQuestion"
            i18n-confirmTitle="
              Question delete confirm title|Confirm modal
              text@@questionDetail.modal.deleteTitle"
            confirmDescription="Are you sure you want to delete this question? This will also delete all associated assets and units"
            confirmTitle="Delete Question?"
          >
            <fa-icon
              [icon]="['far', 'trash-alt']"
              class="me-2 text-danger"
              size="lg"
            ></fa-icon>
          </button>
        </div>

        <p class="card-text">{{ question.text }}</p>

        <app-answer-option-list
          [answerOptions]="answerOptions"
          [question]="question"
          id="answer-option-list"
          (addAnswerOption)="addAnswerOptionProxy($event)"
          (editAnswerOption)="editAnswerOptionProxy($event)"
          (deleteAnswerOption)="deleteAnswerOptionProxy($event)"
        >
        </app-answer-option-list>
      </div>
    </div>
    <br />

    <br />
    <button
      class="btn btn-primary"
      id="btn-addQuestion"
      (click)="addQuestionProxy()"
      i18n-ngbTooltip="
        Question add tooltip|Tooltip text@@questionDetail.tooltip.addQuestion"
      ngbTooltip="Add question"
    >
      <fa-icon [icon]="['fas', 'plus']" class="me-2" size="lg"></fa-icon>
      <span
        i18n="
          Add Question|Add Question Button Title@@question-list.buttons.course"
        >Add Question</span
      >
    </button>
  </div>
</div>
