{% extends "layout.html" %}

{% block content %}

<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="index.html">Home</a></li>
          <li><a href="course">Course</a></li>
          <li><a href="chapters">Chapters</a></li>
          <li><a href="tasks">Tasks</a></li>
          <li><a href="quizs">Quizs</a></li>
          <li class="selected"><a href="topics">Topics</a></li>
        </ul>
      </div>
    </div>
<div id="site_content">
    <div class="form__title">Topics</div>
    <a href="topic/add" class="btn-add">Add new topic</a>  
    
    <table width="100%">
        <tr>
            <th>ID topic</th>
            <th>Topic</th>
            <th>Meaning</th>
            <th>Extra Information</th>
            <th>Action</th>
        </tr>
        {% for row in topics %}
                <tr>
                    <td>{{ row['id_topic'] }}</td>
                    <td>{{ row['topic'] }}</td>
                    <td>{{ row['meaning'] }}</td>
                    <td>{{ row['information'] }}</td>
                    <td>
                        <a href="topic/edit/{{ row['id_topic'] }}" class="btn-edit">Edit</a>
                        | 
                        <a href="topic/delete/{{ row['id_topic'] }}" class="btn-edit">Delete</a>
                    </td>
                </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}